


#encabezado{
    display: flex;
  
  
    background-color:white;
    padding: 3rem;
    margin-left: 60px;
    float: left;
    background-color: aqua;
    
 

}
#encabezado div{
    
 
    justify-content: space-between;
   
    right: 0;
   
 

}

#encabezado img{

    margin-right: 50px;
    left: 0;

}

a{

    
    color: black;
    margin-right: 4rem;

}
button{
    margin-right: 4rem;
    color: black;
    background-color: rgb(32, 158, 175);
    height: 40px;
    width: 50%;
    justify-content: center;
    text-align: center;
    
}

