

#rccuerpo{

  display: flex;
  justify-content: center;
  width: 100%;
  height: 600px;
 
  margin-left: 55px;
  

   
}

#rccuerpo1{

  width: 50%;
  height: 95%;
  background-color: white;
    

   
    
   
}

#rccuerpo1 h1{
 
  color: #0288d1;

  
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;

  font-size: 45px;
  text-transform: none;
  text-align: center;

}


.rccuerpo-h5{

 
  text-transform: none;
  
  
  font-family: "Roboto", sans-serif;
  font-weight: 40;
  font-style: normal;
  text-align: justify;


}

.input{

  width: 100%;
  height: 50px;
  margin-top: 25px;

  background-color: #7eabc4;

  


}

.buttons{
    width: 60%;
    height: 40px;
  
    
    
    background-color: #0277bd;
    border: 2px solid #0277BD;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    padding: 10px 25px;
    text-decoration: none;
  
  

}
.volverallogin{
  
  display: flex;
  width: 100%;
  text-align: center;



}


.volverallogin1{
  
  width: 50%;
 
  text-align: center;
  margin-top: 65px;


}

.volverallogin2{
  
  width: 50%;
  text-align: right;

  float: right;
  margin-top: 65px;
  


}



