.section_padding{
  padding: 2rem 4rem;
}

.sb_footer{
  display: flex;
 
  
  
  place-items: center ;
  background-color: rgb(52, 73, 94);
  height: 100px;
  width: 100%;
  top: 25px;
  left: 0;
  bottom: 0;
  right: 0;
 
  margin-top: 25px;

 
 
 
}

.sb_footer-links{

  display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    text-align: left;
   
    margin-bottom: 0rem;
}

.sb_footer-links_div{
  width: 150px;
  margin-top: 0.5rem;
  
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
 
  
}

a{
  color: rgb(175,175,179);
  flex-direction: row;
}

.socialmedia{
  display: flex;
  flex-direction: row;

}

.socialmedia img{

    display: flex;
    flex-direction: row;
    width: 25px;
    height: 25px;
}

.sb_footer-links_div h4{

  font-size: 14px;
  line-height: 17px;
  margin-bottom: 0rem;
  color: white;
 }

 .sb_footer-links_div p{

    font-size: 20px;
    line-height: 15px;
     margin: 0.5rem 0;
    cursor: pointer;
 }

 .sb_footer-below{

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      

 }

 .sb_footer-below-links{
    display: flex;
    flex-direction: row;
    
 }


.sb_footer-below-links p{

  font-size: 13px;
  line-height: 15px;
  margin-left: 2rem;
  color: white;
  font-weight: 600;
}


hr{
  
  border-color: white;
  width:100%;
  height: 3px;
}

.sb_footer-copyright P{

  font-size: 13px;
  line-height: 15px;
  margin-left: 2rem;
  color: white;
  font-weight: 600;

}

@media screen and (max-width: 850px){

    .sb_footer-heading h1{
      font-size: 44px;
      line-height: 55px;
    }
}


@media screen and (max-width: 550px){

  .sb_footer-heading h1{
    font-size: 34px;
    line-height: 42px;
  }
  .sb_footer-links div{
    margin: 1rem 0;
  }

  .sb_footer-btn p{

    font-size: 14px;
    line-height: 20px;
  }

  .sb_footer-below{
    flex-direction: column;

    justify-content: left;
  }
  .sb_footer-below-links{

    flex-direction: column;
  }
  .sb_footer-below-links p{
    margin-left: 0rem;
    margin-top: 1rem;
  }

}

@media screen and (max-width: 400px){

  .sb_footer-heading h1{
    font-size: 27px;
    line-height: 38px;
  }
  

}