
.rccuerpo2{
  
  width: 90%;
  

  color: black;
  justify-content: right;
  background-color: black;
 
 
}

.highlighted-row{

  background-color: lightgreen;
}

.personalizarfilas{

  height: 55px;
  font-size: x-small;

}




.acomodarencabezadopizaturnos{
  width: 100%;
  height: 65px;

  

  background-color: white;
  display: flex;
 
  


}


.acomodartabla{
  width: 100%;
  height: auto;
  top: 0;
  
  justify-content: center;
  margin-left: 0px;
  margin-right: 10px;

}
h1{
  font-size: 10px;
}

